services:
  app:
    build: .
    container_name: app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings # settings를 입력해야 otel이 동작한다.
      # - OTEL_TRACES_SAMPLER="parentbased_traceidratio"
      # - OTEL_TRACES_SAMPLER_ARG="0.25"
      # - OTEL_BSP_MAX_EXPORT_BATCH_SIZE=1
      # - OTEL_BSP_SCHEDULE_DELAY=100
      # - OTEL_BSP_EXPORT_TIMEOUT=5000
      # - OTEL_TRACES_SAMPLER=always_on
      - OTEL_EXPORTER_OTLP_ENDPOINT=YOUR_ALLOY_IP_ADDRESS:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf # 프로토콜 명시
      - OTEL_SERVICE_NAME=django-app # Tempo에서 표시할 서비스 이름
      # - OTEL_RESOURCE_ATTRIBUTES=service.name=django-app,env=prod
    depends_on:
      - alloy
      - postgres
    volumes:
      - ./app:/app
    command:
      - opentelemetry-instrument
      - python
      - manage.py
      - runserver
      - 0.0.0.0:8000
      - --noreload
  # Test or Otel Postgres
  postgres:
    image: postgres:16
    container_name: postgres
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres

  alloy:
    image: grafana/alloy:v1.11.2
    container_name: alloy
    # 1. 호스트 네트워크 및 PID 모드 사용 (네트워크/프로세스 지표 정확도 향상)
    network_mode: "host" # Node-Exporter 지표 수집을 위해 필요. 이렇게 사용하면 다른 컨테이너에서 alloy로 호출이 불가능.
    pid: "host"
    privileged: true # 시스템 정보 접근 권한 부여
    ports:
      - "12345:12345"
    environment:
      - COLLECT_SERVER=YOUR_COLLECT_SERVER_IP_ADDRESS
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # 2. 호스트 시스템 경로 마운트 - Node-Exporter 지표 수집을 위해 필요
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: [ "run", "--server.http.listen-addr=0.0.0.0:12345", "/etc/alloy/config.alloy" ]
